body {
    font-family: "Eurostile", Montserrat;
}

@font-face {
  font-family: "Eurostile";
  src: url("fonts/EurostileLTStd.eot"); /* For IE */
  src: url("fonts/EurostileLTStd.woff") format("woff"), /* Modern browsers */
       url("fonts/EurostileLTStd.ttf") format("truetype"), /* Safari, Android, iOS */
       url("fonts/EurostileLTStd.otf") format("opentype"); /* Older Safaris, etc. */
}

/* 2. UPPER NAV (Top Bar) */
.upper-nav {
    background-color: #bb9f68;
    color: white;
    display: flex;        /* Enables Flexbox */
    padding-top: 20px;
    padding-bottom: 20px;
}

.upper-nav a .uppernavlogo {
        justify-content: flex-start !important;
        height: 50px;
}

.upper-nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 0.9rem;
}

/* 3. HERO SECTION */
.hero {
    display: flex;
    flex-direction: column; /* Stacks Heading above Button */
    justify-content: left; /* Centers vertically */
    align-items: left;     /* Centers horizontally */
    
    /* Visual Styling */
    height: 400px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://guelphtradingcards-source.github.io/guelphtradingcards-cougars.github.io/images/homehero.png');
    background-size: cover;
    background-position: center;
    font-family: "Eurostile", Montserrat;
    color: white;
}
.herocontents {
    display: flex;
    margin-left: 10vh;
}

.hero h1 {
    flex: 1;
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: bold;
}
.hero h3 {
    flex: 1;
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.hero button {
    flex: 3;
    padding: 10px 25px;
    font-size: 1.2rem;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.hero button:hover {
    background-color: #d62828;
}

/* 4. MAIN NAV (Underneath Hero) */
.main-nav {
    background-color: #112842;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
}

.main-nav ul {
    display: flex;          /* Flexbox for the list */
    justify-content: left; /* Centers the menu items */
    list-style: none;
}

.main-nav li {
    padding: 20px;
}

.main-nav a {
    text-decoration: none;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.main-nav a:hover {
    color: black;
    background-color: white;
}

