<!------------ MAIN HOMEPAGE ------->

<!------------ UPPER MENU ------->
.uppermenu {
 position: relative;
 width: 100%;
}

.uppermenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #bb9f68 !important;
  display: flex;
  justify-content: right;
}
.uppermenu ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
.uppermenu ul li a:hover {
  background-color: #111111;
}

<!------------ HOME PAGE HERO IMAGE ------->
.homehero {
 position: relative;
 height: 60vh;
 width: 100vh;
 background-image: url("https://guelphtradingcards-source.github.io/guelphtradingcards-cougars.github.io/images/homehero.png");
 background-color: #112842;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 }
 
.herotext {
  position: relative;
  text-align: center;
  color: white;
  }
.btn {
  margin: 15px;
  padding: 10px;
  color: #112842;
  background-color: white;
  border: 3px;
  border-color: black;
  border-radius: 5px;
  position: relative;
  }

<!------------ MAIN MENU ------->
.menu {
  background-color: #112842 !important;
  position: relative;
  width: 100%;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
  background-color: #112842 !important;

}
.menu ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
.menu ul li a:hover {
  background-color: #111111;
}



