@font-face {
    font-family: 'Eurostile Custom'; /* A name you choose for the font in your CSS */
    src: url('fonts/eurostile-bold.woff2') format('woff2'),
         url('fonts/eurostile-bold.woff') format('woff'),
         url('fonts/eurostile-bold.ttf') format('truetype');
    font-weight: bold; /* Specifies that this declaration is for the bold weight */
    font-style: normal;
}



.mySidebar {
  background-color: #112842 !important;
  font-family: 'Eurostile Custom' !important;
  
}
