@font-face {
    font-family: 'Eurostile Custom'; /* A name you choose for the font in your CSS */
    src: url('fonts/eurostile-bold.woff2') format('woff2'),
         url('fonts/eurostile-bold.woff') format('woff'),
         url('fonts/eurostile-bold.ttf') format('truetype');
    font-weight: bold; /* Specifies that this declaration is for the bold weight */
    font-style: normal;
}

<!------------MAIN HOMEPAGE------->

<!------------MAIN MENU------->
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #112842 !important;
  font-family: 'Eurostile Custom' !important;
  display: flex;
  justify-content: center;
}
.menu ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
.menu ul li a:hover {
  background-color: #111111;
}
<!------------UPPER MENU------->
.uppermenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #bb9f68 !important;
  font-family: 'Eurostile Custom' !important;
  display: flex;
  justify-content: right;
}
.uppermenu ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
.uppermenu ul li a:hover {
  background-color: #111111;
}
<!------------HOME PAGE HERO IMAGE------->
.homehero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("homehero.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


