<!------------ MAIN HOMEPAGE ------->
.body {
 font-family: "

<!------------ UPPER MENU ------->
.uppermenu {
 display: flex;
 position: relative;
 width: 100%;
}

.uppermenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #bb9f68 !important;
  display: flex;
  justify-content: right;
}
.uppermenu ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
.uppermenu ul li a:hover {
  background-color: #111111;
}

<!------------ HOME PAGE HERO IMAGE ------->
.homehero {
  display: flex;
  height: 60vh;
  margin: auto;
  flex: 1;
  background-image: url('https://guelphtradingcards-source.github.io/guelphtradingcards-cougars.github.io/images/homehero.png');
  background-size: cover;
}
 
.herotext {
  width: 100vh;
  height: 30vh;
  margin: auto;
  color: white;
  }

.btn {
  margin: auto;
  padding: 20px;
  font-size: 24px;
  color: black;
  border-color: white;
  background-color: white;
  text-decoration: none;
  border: 3px;
  border-radius: 5px;
  }
.btn:hover {
  color: white;
  background-color: navy-blue;
  border-color: navy-blue;
  }

<!------------ MAIN MENU ------->
.menu {
  display: flex;
  background-color: #112842 !important;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  width: 100%;
  height: 80px;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
  background-color: #112842 !important;

}
.menu ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
.menu ul li a:hover {
  background-color: #FFFFFF;
}



