<!------------MAIN HOMEPAGE------->

<!------------MAIN MENU------->
.menu {
  position: fixed;
  top: 2;
  width: 100%;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #112842 !important;
  display: flex;
  justify-content: center;
}
.menu ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
.menu ul li a:hover {
  background-color: #111111;
}
<!------------UPPER MENU------->
.uppermenu {
  position: fixed;
  top: 0;
  width: 100%;
}

.uppermenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #bb9f68 !important;
  display: flex;
  justify-content: right;
}
.uppermenu ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
.uppermenu ul li a:hover {
  background-color: #111111;
}
<!------------HOME PAGE HERO IMAGE------->
.homehero {
  background-image: url("https://github.com/guelphtradingcards-source/guelphtradingcards-cougars.github.io/blob/ffccd84e823e46e4d735e5363a39f705f0b5f684/images/homehero.png");
  height: 700px; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
}
.hero-text {
  text-align: center;
  position: absolute;
  color: white;
}


